<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="details">
      <app-title title="Login"></app-title>

      <form [formGroup]="LoginSession" (ngSubmit)="login()">
        <text-input
        [control]="formControl.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"></text-input>

        <div class="form-group">
          <label>Password</label>
          <div>
            <input type="password" placeholder="password" formControlName="password">
          </div>
        </div>
        <div class="erro-list" *ngIf="formControls.password.errors && isSubmitted">
          <div *ngIf="formControls.password.errors.required">Senha não pode estar em branco</div>
        </div>
        <div class="button">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>
